* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #937AFF;
}

label {
    margin-top: 10px;
}

.container {
    margin: 2rem;
    background-color: rgb(248, 248, 250);
    padding:  1rem;
    border-radius: 25px;
}

header {
    background-color: #937AFF;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    color: rgba(255, 255, 255, 0.836);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #937AFF;
    color: rgba(0, 0, 0, 0.76);
}

.konverter {
    background-color: #f8db46;
    margin: 1rem;
    border-radius: 20px;
}

.bung-konver {
    margin: 1rem;
}

.button {
    padding: 5px 1rem;
    border: 0;
    border-radius: 5px;
    background-color: rgb(103, 207, 255);
}

textarea {
    height: 80px;
    width: 220px;
    border-radius: 10px;
    border: 0;
    resize: none;
    padding: 0.5rem;
}

.rumus {
    background-color: #f8db46;
    margin: 1rem;
    height: 100%;
    border-radius: 20px;
}

.bung-rumus {
    margin: 1rem;
}

footer {
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.555);
}

@media (max-width: 769px) {
    main {
        flex-direction: column;
    }
}